<div class="card-deck">
{{#each data}}
    <a href='/{{_id}}'>
        <div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top image" src={{image}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{party}}</p>
                    <p class="card-text">Term Year: {{term.startYear}} - {{term.endYear}}</p>
                    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                </div>
            </div>
        </div>
    </a>
{{/each}}
</div>

